.logout-section {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logout-section a button {
  height: 60px;
  border-radius: 0;
}

.custom-file-label {
  overflow: hidden;
  text-overflow: ellipsis;
  outline-offset: 4rem;
}
.dataTables_scrollHeadInner {
  margin: 0 auto;
}

.exam-indicators {
  position: absolute;
  z-index: 15;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: initial;
  padding: 0.5rem 0.25rem;
  margin: 0 auto;
  list-style: none;
  border-radius: 0 0 3px 3px;
}

.exam-indicators .active {
  opacity: 1;
}

.exam-indicators li {
  position: initial;
  cursor: pointer;
  text-indent: initial;
  width: 2rem;
  height: 2rem;
  border-radius: 5px;
  margin-left: 3px;
  margin-right: 3px;
  opacity: 0.5;
  background-color: white;
}

.exam-indicators li span {
  display: flex;
  line-height: 2rem;
  justify-content: center;
  font-weight: bold;
}

.exam .carousel-item {  
  overflow-y: auto;
}