.logout-section {
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-wrap {
  white-space: normal!important;
}

.logout-section a button {
  height: 60px;
  border-radius: 0;
}

.custom-file-label {
  overflow: hidden;
  text-overflow: ellipsis;
  outline-offset: 4rem;
}
.dataTables_scrollHeadInner {
  margin: 0 auto;
}
