
.br-section-wrapper {
  -webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-o-transition: 0.5s;
	-ms-transition: 0.5s;
  transition: 0.5s;
}

.exam-indicators-container {
  position: fixed;
  display: flex;
  z-index: 9999;
  bottom: 0;
  right: 0;
  left: 0;
}

.exam-control-prev, 
.exam-control-next {
  display: flex;
  justify-content: center;
  color: #fff;
  text-align: center;
  margin: 0 5px;
  opacity: 0.5;
  transition: opacity 100ms ease-in;
  -moz-transition: opacity 100ms ease-in;
  -webkit-transition: opacity 100ms ease-in;
	-o-transition: opacity 100ms ease-in;
	-ms-transition: opacity 100ms ease-in;
}

.exam-control-prev:focus, 
.exam-control-next:focus,
.exam-control-prev:hover, 
.exam-control-next:hover {
  opacity: 1;
}

.exam-control-prev-icon, 
.exam-control-next-icon {
  display: inline-block;
  width: 20px;
  height: 20px; 
}

.exam-indicators-container .exam-control-prev-icon:before,
.exam-indicators-container .exam-control-next-icon:before {
  font-family: "Font Awesome 5 Pro";
  font-weight: 300;
  font-size: 2rem;
}

.exam-indicators-container .exam-control-prev-icon:before {
  content: "\f104"
}

.exam-indicators-container .exam-control-next-icon:before {
  content: "\f105"
}

.exam-indicators {
  white-space: nowrap;
  display: block;
  /* display: inline-block; */
  /* justify-content: initial; */
  overflow-x: auto;
  padding: 0.5rem 0.25rem;
  margin: 0 auto;
  list-style: none;
}

.exam-indicators .active {
  opacity: 1;
}

.exam-indicators li {
  /* position: initial; */
  cursor: pointer;
  /* text-indent: initial; */
  width: 2rem;
  display: inline-block;
  height: 2rem;
  border-radius: 5px;
  margin-left: 3px;
  margin-right: 3px;
  opacity: 0.5;
  background-color: white;
}

.exam-indicators li span {
  display: flex;
  line-height: 2rem;
  justify-content: center;
  font-weight: bold;
}

.exam .carousel-item {  
  overflow-y: auto;
}

.carousel-item.active, .carousel-item-next, .carousel-item-prev {
  display: block;
  transition: transform 0.2s ease;
}

/* #quiz
================================================== */

.question-main .answer {
  position: relative;
	overflow: hidden;
	margin-bottom: 1rem;
  background: #e3e3e3;
	text-align: center;
  font-family: "Fira Sans", "Helvetica Neue", Arial, sans-serif;
}

.question-main .col-md-12{
  margin-bottom: 1rem;
}

.question-main .answer img {
  margin: .5rem auto;
  max-width: 100%;
  border-radius: 5px;
}

.question-main .title {
	padding-bottom: 1rem;
	padding-top: 1rem;
}

.question-main .title p {
	font-size: 1rem;
  font-weight: 600;
  margin: 0.5rem;
}

.question-main .title img {
  margin: .5rem auto;
  border-radius: 5px;
  max-width: 100%;
}


/* label */

.question-main .answer input[type=radio] {
	display: none;
}

.question-main .answer label {
	margin: 0 !important;
	height: 100%;
}

.question-main .answer.check .radio label {
  display: grid;
	cursor: pointer;
  float: left;  
  font-size: 1rem;
  font-weight: 300;
  /* height: 2.5rem; */
  height: auto;
  width: 100%;
  vertical-align: middle;
  border-radius: 1.25rem;

  background: #e3e3e3;
	-webkit-transition: all 250ms ease-in;
	-moz-transition: all 250ms ease-in;
	-o-transition: all 250ms ease-in;
	-ms-transition: all 250ms ease-in;
  transition: all 250ms ease-in;
  
  /* position: absolute; */
  /* left: 0; */
  /* top: 0; */
  padding: 0.5rem 1rem .5rem 3rem !important;
  color: rgb(0, 0, 0);
}
/* 
.question-main .answer input[type=radio] + label {
	
} */

.question-main .answer.check .radio label:hover {
  background: rgba(31, 96, 182, 0.75);
  color: #fff;
}

.question-main .answer input[type=radio]:checked + label {
	background: #0866C6;
}
/* 
.question-main .answer.check .radio input[type=radio]:checked ~ label[for=" "] {
	background: rgba(26, 188, 156, 0.25);
} */

@media screen and (max-width:1199px) {
	.question-main .answer {
		width: 100%;
		height: auto;
	}
	.question-main .answer label {
		padding: 15px;
	}
}

.question-main .answer.check {
	width: 100%;
  /* height: 2.5rem; */
  height: auto;
	font-size: 1rem;
  color: #fff;
  border-radius: 1.25rem;
}

.question-main .answer.check {
	overflow: visible !important;
}


/* Radio Button Styles */

.check .radio {
	margin: 0 !important;
	/* position: relative; */
	width: auto;
  /* height: 2.5rem; */
  height: auto;
	text-align: left;
}

.check .radio label span {
	
  width: 100%;
}

.check .radio label:after {
  border: 2px solid #6c757d;
  border-radius: 50%;
  content: "";
  height: 1.5rem;
  left: 0.5rem;
  opacity: 1;
  position: absolute;
  top: 0.5rem;
  transition: opacity 250ms ease-in;
  background: transparent;
  width: 1.5rem;
}

.check .radio label:before {
  content: "";
  height: 1rem;
  left: 0.9rem;
  opacity: 1;
  position: absolute;
  top: 0.55rem;
  transition: opacity 250ms ease-in;
  background: transparent;
  width: 1rem;
}

.check .radio label.a:before {
  content: "A";
}

.check .radio label.b:before {
  content: "B";
}

.check .radio label.c:before {
  content: "C";
}

.check .radio label.d:before {
  content: "D";
}

.answer.check .radio input[type="radio"] {
	margin-left: 0 !important;
}

.answer.check .radio label:hover::after {
	border-color: #fff;
}

.answer.check .radio input[type="radio"]:checked + label span {
	color: #fff!important;
}

.answer.check .radio input[type="radio"]:checked + label:after {
	opacity: 1;
	border-color: #fff;
}

.answer.check .radio input[type="radio"]:checked + label:before {
	color: #fff;
}

.answer-wrapper {
  margin-bottom: 10px;
}